<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width, initial-scale=0.7">
         <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Data Required for detection</title>
	<style type="text/css">
		html,body
		{
			height: 100%;
			background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}
		h1
		{
			text-transform: uppercase;
		}
		.footer
{
	text-align: center;
	color: black;
}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{url_for('home')}}">Pace Makers</a>
</nav><br>
<div class="container">
<h1>Data Required For Heart Failure Detection</h1>
<hr>
<ul>
	<li>Age</li>
	<li>Anaemia ~ Decrease of red blood cells or hemoglobin</li>
	<li>creatinine_phosphokinase ~ Level of the CPK enzyme in the blood (mcg/L)</li>
	<li>diabetes ~ If the patient has diabetes</li>
	<li>ejection_fraction ~ Percentage of blood leaving the heart at each contraction (percentage)</li>
	<li>high_blood_pressure ~ If the patient has hypertension</li>
	<li>platelets ~ Platelets in the blood (kiloplatelets/mL)</li>
	<li>serum_creatinine ~ Level of serum creatinine in the blood (mg/dL)</li>
	<li>serum_sodium ~ Level of serum sodium in the blood (mEq/L)</li>
	<li>sex ~ Woman or man</li>
	<li>smoking ~ If the patient smokes or not.</li>
</ul>
<p class="footer">&copyLazyCodeGeeks~All Rights Reserved</p> 
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>